NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WORDPRESS_URL=https://your-wordpress-subdomain.example.com
NEXT_PUBLIC_WORDPRESS_GRAPHQL_ENDPOINT=https://your-wordpress-subdomain.example.com/graphql
NEXT_PUBLIC_REVALIDATE_SECONDS=120
